<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>travel planner</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
   <div id = "app">
  <div class ="holder-headline">
    Travel Planner
  </div>
  <div class ="holder-trip">
    <div class="search">
      <label for="location">My trip to:</label>
      <input type="text" id="location" placeholder="Location">
      <label for="departing-date">Departing:</label>
      <input type="date" name="trip-start" value="" min="" max="" id="departing-date">
      <button id="generate" type = "submit"> SEARCH TRIP </button>
    </div>
    <div class="holder-entry">
       <div id="entryHolder">
          <div id="img"></div>
          <div id="content">
            <div id="country"></div>
            <div id="weather"></div> 
            <div id="weather-description"></div>
            <div id="weather-icon"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="holder feel">
    
  </div>
  </div>
</body>
</html>